
.play-video {
  background-image: url("https://images.unsplash.com/photo-1444090542259-0af8fa96557e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80");
  height: 200px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.play-icon {
  position: absolute;
  top: 48%;
  left: 48%;
  color: whitesmoke;

  font-size: 40px;
}
